/build/
/target/

# Temporary dependency on turn codebase
/lib/turn.jar

# Eclipse files we don't want to track
/.metadata
/.pydevproject*
/.settings/
/.checkstyle

# Intellij files we don't want to track
/.idea/
*.iml
*.eml

# tmp folder not to track
/tmp/

# Ignore various temp files
*.swp
*~
.DS_Store

## Gradle directories
.gradle/
build/

## Docker Directory
docker/*.jar
docker/resources